.env
.DS_Store
client_bundle/client
client_bundle/base_fs
dist
*.js.map
website_build
fly.toml
env.sh
node_modules
*.db*
test_space
silverbullet
silverbullet-*
deploy.json
*.generated
tmp_playground
/public_version.ts
tmp
.idea