@use "editor";
@use "modals";
@use "theme";
@use "colors";
@use "top";

@font-face {
  font-family: "iA-Mono";
  src: url("/.client/iAWriterMonoS-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/.client/iAWriterMonoS-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/.client/iAWriterMonoS-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/.client/iAWriterMonoS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--top-background-color);
}

#sb-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--root-background-color);
}

.sb-panel {
  flex: 1;
}

.sb-bottom-iframe {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--editor-widget-background-color);
  border-radius: 5px;
}

.sb-top-iframe {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--editor-widget-background-color);
  border-radius: 5px;
}

#sb-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;

  .sb-panel {
    flex: 1;
  }
}

#sb-editor {
  flex: 2;
  height: 100%;

  width: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

#sb-editor.hide-cm {
  .cm-editor {
    display: none !important;
  }
}

.sb-bhs {
  height: 300px;
  width: 100%;
  z-index: 10;

  .sb-panel {
    height: 100%;
  }
}

.sb-modal {
  position: absolute;
  z-index: 100;

  .sb-panel {
    height: 100%;
  }
}

.sb-page-prefix {
  display: flex;
  align-items: baseline;
  flex: 0 0 auto;
  text-align: left;
  padding-top: 3px;
  font-family: var(--ui-font);
  white-space: pre-wrap;
}

.sb-panel {
  iframe {
    background-color: var(--root-background-color);
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.sb-preview {
  position: relative;
}

.sb-markdown-toolbar {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.sb-markdown-toolbar:hover {
  opacity: 1;
}
