@use "editor";
@use "filter_box";
@use "theme";

@font-face {
  font-family: "iA-Mono";
  src: url("/iAWriterMonoS-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/iAWriterMonoS-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/iAWriterMonoS-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "iA-Mono";
  src: url("/iAWriterMonoS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

#sb-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#sb-top {
  display: flex;
  flex-direction: row;
  z-index: 20;

  height: 55px;

  .main {
    flex: 2;
    max-width: 100%;

    .inner {
      max-width: 800px;
      margin: auto;
      font-size: 28px;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;

      .sb-notifications {
        position: absolute;
        bottom: 0;
        left: 5px;
        right: 5px;
        font-size: 15px;
        z-index: 100;

        > div {
          padding: 3px;
          margin-bottom: 3px;
          border-radius: 5px;
        }
      }

      .sb-current-page {
        font-weight: bold;
        flex: 1;
        font-size: 28px;

        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        display: block;
        text-overflow: ellipsis;
      }
    }

    .sb-actions {
      text-align: right;
    }
  }

  .sb-panel {
    flex: 1;
  }
}

#sb-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;

  .sb-panel {
    flex: 1;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

#sb-editor {
  overflow-y: scroll;
  flex: 2;
  height: 100%;
}

.sb-bhs {
  height: 300px;
  width: 100%;

  .sb-panel {
    height: 100%;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.sb-modal {
  position: absolute;
  z-index: 100;

  .sb-panel {
    height: 100%;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}
