.sb-modal-wrapper {
  position: absolute;
  margin: auto;
  max-width: 500px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 290px;
  z-index: 100;
}

.sb-modal-box {
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;

  .cm-content {
    padding: 0;

    .cm-line {
      padding: 2px 0 0 3px;
    }
  }

  .sb-header {
    padding: 13px 10px 10px 10px;
    display: flex;

    label {
      margin: 3px;
    }
  }

  .sb-prompt {
    padding: 13px 10px 10px 10px;

    label {
      font-weight: bold;
    }

    .sb-mini-editor {
      margin: 10px 0;
      width: 100%;
      border: 0;
      outline: none;
    }
  }

  .sb-help-text {
    padding: 5px;
  }

  .sb-result-list {
    max-height: 216px;
    overflow-y: scroll;

    .sb-icon {
      padding: 0 8px 0 5px;
      position: relative;
      top: 3px;
    }
  }

  .sb-option,
  .sb-selected-option {
    padding: 8px;
    cursor: pointer;
    line-height: 20px;
  }

  .sb-option .sb-hint,
  .sb-selected-option .sb-hint {
    float: right;
    margin-right: 0;
    margin-top: -4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
  }
}
