@use "sass:map";

@layer basic-theming {

  @mixin basic-themes($type) {

    $light: ( // #sb-root
      "sb-root-highlight-color": #464cfc,
      "sb-root-background-color": white,
      "sb-root-color": black,
      // #sb-top
      "sb-top-background-color": #e1e1e1,
      "sb-top-border-bottom-color": #cacaca,
      "sb-top-color": rgb(55, 55, 55),
      // .sb-panel
      "sb-panel-border-left-color": #eee,
      // sb.bhs
      "sb-bhs-border-top-color": rgb(193, 193, 193),
      // sb.modal
      "sb-modal-border-color": #000,
      "sb-modal-background-color": #fff,
      // .sb-notifications>div
      "sb-notifications-div-border-color": rgb(41, 41, 41),
      "sb-notifications-div-background-color": #fff,
      // .sb-notification-info
      "sb-notification-info-background-color": rgb(187, 221, 247),
      // .sb-notification-error
      "sb-notification-error-background-color": rgb(255, 84, 84),
      // .sb-saved input
      "sb-saved-input-color": #111,
      // .sb-unsaved input
      "sb-unsaved-input-color": #5e5e5e,
      // .sb-loading
      "sb-loading-color": #7a7a7a,
      // .sb-actions button
      "sb-actions-button-color": #292929,
      // .sb-actions button:hover
      "sb-actions-button-hover-color": #0772be,
      // .sb-filter-box (sbfb)
      "sb-filter-box-color": #111,
      "sb-filter-box-background-color": #fff,
      "sb-filter-box-border-color": rgb(103, 103, 103),
      "sb-filter-box-box-shadow-color": rgba(0, 0, 0, 0.35),
    );

    $dark: ( // #sb-root 
      "sb-root-highlight-color": #464cfc,
      "sb-root-background-color": #555,
      "sb-root-color": rgb(200, 200, 200),
      // #sb-top
      "sb-top-background-color": rgb(38, 38, 38),
      "sb-top-border-bottom-color": rgb(62, 62, 62),
      "sb-top-color": rgb(200, 200, 200),
      // .sb-panel
      "sb-panel-border-left-color": #eee,
      // sb.bhs
      "sb-bhs-border-top-color": rgb(193, 193, 193),
      // sb.modal
      "sb-modal-border-color": #000,
      "sb-modal-background-color": #fff,
      // .sb-notifications>div
      "sb-notifications-div-border-color": rgb(197, 197, 197),
      "sb-notifications-div-background-color": #333,
      // .sb-notification-info
      "sb-notification-info-background-color": rgb(187, 221, 247),
      // .sb-notification-error
      "sb-notification-error-background-color": rgb(255, 84, 84),
      // .sb-saved input
      "sb-saved-input-color": rgb(225, 225, 225),
      // .sb-unsaved input
      "sb-unsaved-input-color": #5e5e5e,
      // .sb-loading
      "sb-loading-color": #7a7a7a,
      // .sb-actions button
      "sb-actions-button-color": #adadad,
      // .sb-actions button:hover
      "sb-actions-button-hover-color": #37a1ed,
      // .sb-filter-box (sbfb)
      "sb-filter-box-color": #ccc,
      "sb-filter-box-background-color": rgb(38, 38, 38),
      "sb-filter-box-border-color": rgb(103, 103, 103),
      "sb-filter-box-box-shadow-color": rgba(0, 0, 0, 0.35),
    );

    $themeMap: $light !default;

    @if $type =="light" {
      $themeMap: $light;
    }

    @else if $type =="dark" {
      $themeMap: $dark;
    }

    #sb-root {
      --ui-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-family: var(--ui-font);
      background-color: map.get($themeMap, "sb-root-background-color");
      color: map.get($themeMap, "sb-root-color");
    }

    #sb-top {
      background-color: map.get($themeMap, "sb-top-background-color");
      border-bottom-color: map.get($themeMap, "sb-top-border-bottom-color");
      border-bottom: 1px solid;
      color: map.get($themeMap, "sb-top-color");
    }

    #sb-top input.sb-edit-page-name {
      // font-weight: bold;
      font-size: 28px;
    }

    .sb-panel {
      border-left: 1px solid;
      border-left-color: map.get($themeMap, "sb-panel-border-left-color");
    }

    .sb-bhs {
      border-top: 1px solid;
      border-top-color: map.get($themeMap, "sb-bhs-border-top-color");
    }

    .sb-modal {
      border: 1px solid;
      border-color: map.get($themeMap, "sb-modal-border-color");
      background-color: map.get($themeMap, "sb-modal-background-color");
    }

    .sb-notifications {
      font-family: "iA-Mono";
    }

    .sb-notifications>div {
      border: 1px solid;
      border-color: map.get($themeMap, "sb-notifications-div-border-color");
      background-color: map.get($themeMap, "sb-notifications-div-background-color");
    }

    .sb-notification-info {
      background-color: map.get($themeMap, "sb-notification-info-background-color");
    }

    .sb-notification-error {
      background-color: map.get($themeMap, "sb-notification-error-background-color");
    }

    .sb-saved input {
      color: map.get($themeMap, "sb-saved-input-color");
    }

    .sb-unsaved input {
      color: map.get($themeMap, "sb-unsaved-input-color");
    }

    .sb-loading {
      color: map.get($themeMap, "sb-loading-color");
    }

    .sb-actions button {
      border: 0;
      margin: 3px;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;
      color: map.get($themeMap, "sb-actions-button-color");
    }

    .sb-actions button:hover {
      color: map.get($themeMap, "sb-actions-button-hover-color");
    }

    /* Filter boxes */
    .sb-filter-box {
      color: map.get($themeMap, "sb-filter-box-color");
      background-color: map.get($themeMap, "sb-filter-box-background-color");
      border: 1px solid;
      border-color: map.get($themeMap, "sb-filter-box-border-color");
      box-shadow: map.get($themeMap, "sb-filter-box-box-shadow-color") 0px 20px 20px;
    }

    .sb-filter-box .sb-header {
      border-bottom: 1px solid;
      border-bottom-color: rgb(108, 108, 108);
    }

    .sb-filter-box .sb-header input {
      font-family: var(--ui-font);
      color: #000;
    }

    .sb-filter-box .sb-header input::placeholder {
      color: rgb(199, 199, 199);
      font-weight: normal;
    }

    .sb-filter-box .sb-help-text {
      background-color: #eee;
      border-bottom: 1px rgb(108, 108, 108) solid;
      color: #555;
    }

    .sb-filter-box .sb-selected-option {
      color: #eee;
    }

    .sb-filter-box .sb-option .sb-hint,
    .sb-filter-box .sb-selected-option .sb-hint {
      color: #eee;
      background-color: #212476;
    }

  }

  html[data-theme="light"] {
    @include basic-themes("light");
  }

  html[data-theme="dark"] {
    @include basic-themes("dark");
  }
}

///// START OF OLD CODE
/* Editor */

.cm-content {
  font-family: "iA-Mono", "Menlo";
}

.cm-selectionBackground {
  background-color: #d7e1f6 !important;
}

.cm-editor .cm-tooltip-autocomplete {
  .cm-completionDetail {
    font-style: normal;
    display: block;
    font-size: 80%;
    margin-left: 5px;
    color: #555;
  }

  li[aria-selected] .cm-completionDetail {
    color: #d2d2d2;
  }

  .cm-completionLabel {
    display: block;
    margin-left: 5px;
  }

  .cm-completionIcon {
    display: none;
  }
}

.sb-header-inside.sb-line-h1 {
  text-indent: -2ch;
}

.sb-header-inside.sb-line-h2 {
  text-indent: -3ch;
}

.sb-header-inside.sb-line-h3 {
  text-indent: -4ch;
}

.sb-header-inside.sb-line-h4 {
  text-indent: -5ch;
}

.sb-line-h1,
.sb-line-h2,
.sb-line-h3,
.sb-line-h4 {
  // background-color: rgba(0, 30, 77, 0.5);
  color: #333;
  font-weight: bold;
  padding: 2px 2px !important;
}

.sb-line-h1 .sb-meta,
.sb-line-h2 .sb-meta,
.sb-line-h3 .sb-meta,
.sb-line-h4 .sb-meta {
  color: #a1a1a0;
}

.sb-line-h1 {
  font-size: 1.5em;
}

.sb-line-h2 {
  font-size: 1.2em;
}

.sb-line-h3 {
  font-size: 1.1em;
}

.sb-line-h4 {
  font-size: 1em;
}

.sb-hashtag {
  color: #e2e9ff;
  background-color: #002b6aad;
  border: 1px solid #0120416b;
  border-radius: 6px;
  padding: 0 3px;
  margin: 0 -3px;
  font-size: 0.9em;
}

.sb-strikethrough {
  text-decoration: line-through;

  &.sb-meta {
    text-decoration: none;
  }
}

.sb-line-hr {
  border-top: rgb(76, 75, 75) solid 1px;
  margin-top: 1em;
  margin-bottom: -1em;
}

.sb-hr {
  font-weight: bold;
}

.sb-naked-url {
  color: #0330cb;
  cursor: pointer;
}

.sb-named-anchor {
  color: #959595;
}

.sb-command-button {
  font-family: "iA-Mono";
  font-size: 1em;
}

.sb-command-link.sb-meta {
  color: #959595;
}

.sb-command-link-name {
  background-color: #e3dfdf;
  cursor: pointer;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 4px;
  padding: 0 4px;
}

/* Color list item this way */
.sb-line-li .sb-meta {
  color: rgb(150, 150, 150);
}

/* Then undo other meta */
.sb-line-li .sb-meta~.sb-meta {
  color: #650007;
}

.sb-line-code {
  background-color: rgba(72, 72, 72, 0.1);
}

.sb-line-code .sb-code {
  background-color: transparent;
}

.sb-line-tbl-header {
  font-weight: bold;
}

.sb-line-tbl-header .meta {
  font-weight: normal;
}

.sb-struct {
  color: darkred;
}

.sb-code {
  background-color: rgba(72, 72, 72, 0.1);
}

.sb-highlight {
  background-color: rgba(255, 255, 0, 0.5);
}

.sb-line-fenced-code {
  background-color: rgba(72, 72, 72, 0.1);
}

/* Mostly for JS when that comes back */
.sb-line-fenced-code .sb-code {
  background-color: transparent;
}

.sb-line-fenced-code .sb-comment {
  color: #989797;
  background-color: transparent;
  border-radius: 0;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
}

.sb-line-fenced-code .sb-keyword {
  color: #830000;
}

.sb-line-fenced-code .sb-variableName {
  color: #036d9b;
}

.sb-line-fenced-code .sb-typeName {
  color: #038138;
}

.sb-line-fenced-code .sb-string,
.sb-line-fenced-code .sb-string2 {
  color: #440377;
}

.sb-meta {
  color: #650007;
}

.sb-line-blockquote {
  background-color: rgba(220, 220, 220, 0.5);
  color: #676767;
  text-indent: -2ch;
  padding-left: 2ch;
}

.sb-frontmatter {
  background-color: rgba(255, 246, 189, 0.5);
  color: #676767;
}

.sb-emphasis {
  font-style: italic;
}

.sb-strong {
  font-weight: 900;
}

.sb-link {
  cursor: pointer;
}

.sb-link:not(.sb-meta, .sb-url) {
  color: #0330cb;
  text-decoration: underline;
}

.sb-link.sb-url {
  color: #7e7d7d;
}

.sb-url:not(.sb-link) {
  color: #0330cb;
  text-decoration: underline;
  cursor: pointer;
}

.sb-atom {
  color: darkred;
}

.sb-wiki-link-page {
  color: #0330cb;
  background-color: rgba(77, 141, 255, 0.07);
  border-radius: 5px;
  padding: 0 5px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

a.sb-wiki-link-page-missing,
.sb-wiki-link-page-missing>.sb-wiki-link-page {
  color: #9e4705;
  background-color: rgba(77, 141, 255, 0.07);
  border-radius: 5px;
  padding: 0 5px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.sb-wiki-link {
  cursor: pointer;
  color: #8f96c2;
}

.sb-task-marker {
  color: #676767;
  font-size: 91%;
}

.sb-line-comment {
  background-color: rgba(255, 255, 0, 0.5);
}

.sb-comment {
  color: #989797;
  font-size: 75%;
  line-height: 75%;
}

html[data-theme="dark"] {

  .sb-line-h1,
  .sb-line-h2,
  .sb-line-h3,
  .sb-line-h4 {
    color: #d1d1d1;
  }

  .sb-frontmatter {
    background-color: rgb(41, 40, 35, 0.5);
  }

  .sb-filter-box,
  /* duplicating the class name to increase specificity */
  .sb-help-text.sb-help-text {
    color: #ccc;
    background-color: rgb(38, 38, 38);
  }

  .sb-help-text {
    border-bottom: 1px solid #6c6c6c;
  }

  .sb-line-li .sb-meta~.sb-meta,
  .sb-line-fenced-code .sb-meta {
    color: #d17278;
  }

  .sb-wiki-link-page {
    color: #7e99fc;
    background-color: #a3bce712;
  }

  .sb-code,
  .sb-line-fenced-code,
  .sb-task-marker {
    background-color: #333;
  }

  .sb-naked-url {
    color: #94b0f4;
  }

  .sb-command-link {
    background-color: #595959;
  }

  .sb-table-widget {

    tbody tr:nth-of-type(even) {
      background-color: #686868;
    }
  }


}