/* Reset SB styles */
html,
body {
    /*height: initial !important;
    overflow-x: initial !important;
    overflow-y: hidden !important;*/
    background-color: var(--root-background-color) !important;
}

#sb-main {
    height: initial !important;
    display: initial !important;
}

#sb-editor {
    flex: initial !important;
    height: initial !important;
}

.cm-editor {
    height: initial !important;
}

body {
    font-family: var(--ui-font);

    color: var(--root-color);
}

.sb-line-h2 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    padding: 10px !important;
    background-color: rgba(233, 233, 233, 0.5);
}

#button-bar {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 3px;
}

#button-bar button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--root-color);
}

#edit-button {
    margin-left: -10px;
}


li code {
    font-size: 80%;
    color: #a5a4a4;
}

li.toc-header-1 {
    margin-left: 0;
}

li.toc-header-2 {
    margin-left: 2ch;
}

li.toc-header-3 {
    margin-left: 4ch;
}

li.toc-header-4 {
    margin-left: 6ch;
}