body {
  font-family: georgia, times, serif;
  font-size: 14pt;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead tr {
  background-color: #333;
  color: #eee;
}

th,
td {
  padding: 8px;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

ul li p {
  margin: 0;
}

a[href] {
  text-decoration: none;
}

blockquote {
  border-left: 1px solid #333;
  margin-left: 2px;
  padding-left: 10px;
}

.footer {
  border-top: 1px solid #000;
  padding-top: 5px;
  text-align: center;
  font-size: 70%;
}

img {
  max-width: 90%;
}
