@use "editor.scss";
@use "filter_box.scss";

:root {
  --ident: 18px;
  /* --editor-font: "Avenir"; */
  --editor-font: "Menlo";
  --ui-font: "Arial";
  --top-bar-bg: rgb(41, 41, 41);
  --highlight-color: #464cfc;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.panel {
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  width: 400px;
  z-index: 20;
  background: #efefef;

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    scroll: auto;
  }
}

#top {
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(213, 213, 213);
  border-bottom: rgb(193, 193, 193) 1px solid;
  color: rgb(55, 55, 55);

  .inner {
    padding-top: 12px;
    max-width: 800px;
    font-size: 28px;
    margin: auto;

    .status {
      float: right;
      border: rgb(41, 41, 41) 1px solid;
      border-radius: 5px;
      padding: 3px;
      font-size: 14px;
    }

    .current-page {
      font-family: var(--ui-font);
      font-weight: bold;
    }

    .icon {
      padding-left: 5px;
      padding-right: 10px;
    }

    .icon.saved {
      color: #015701;
    }

    .icon.unsaved {
      color: #e19502;
    }
  }

}

#editor {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

div.rhs-open #editor {
  right: 350px;
}

@media only screen and (max-width: 800px) {
  .cm-editor .cm-content {
    margin: 0 10px !important;
  }
}
