@use "editor.scss";
@use "filter_box.scss";
@import "constants";

@font-face {
  font-family: "iA-Mono";
  src: url("../fonts/iAWriterMonoS-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("../fonts/iAWriterMonoS-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "iA-Mono";
  src: url("../fonts/iAWriterMonoS-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "iA-Mono";
  src: url("../fonts/iAWriterMonoS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --ident: 18px;
  /* --editor-font: "Avenir"; */
  --editor-font: "iA-Mono", "Menlo";
  --ui-font: "Arial";
  --top-bar-bg: rgb(41, 41, 41);
  --highlight-color: #464cfc;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#top {
  display: flex;
  flex-direction: row;
  z-index: 20;

  height: $top-bar-height;
  background-color: rgb(213, 213, 213);
  border-bottom: rgb(193, 193, 193) 1px solid;
  color: rgb(55, 55, 55);
  .main {
    flex: 2;
    max-width: 100%;

    .inner {
      max-width: $max-editor-width;
      margin: auto;
      font-size: 28px;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;

      .notifications {
        position: absolute;
        font-family: "iA-Mono";
        bottom: 45px;
        left: 5px;
        right: 5px;
        font-size: 15px;
        z-index: 100;

        > div {
          padding: 3px;
          margin-bottom: 3px;
          border-radius: 5px;
          border: rgb(41, 41, 41) 1px solid;
        }

        .notification-info {
          background-color: rgb(187, 221, 247);
        }
        .notification-error {
          background-color: rgb(255, 84, 84);
        }
      }

      .current-page {
        font-family: var(--ui-font);
        font-weight: bold;
        flex: 1;

        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        display: block;
        text-overflow: ellipsis;
      }

      .saved {
        color: #111;
      }

      .unsaved {
        color: #5e5e5e;
      }
    }
    .actions {
      text-align: right;

      button {
        border: 1px solid #7897d0;
        border-radius: 3px;
        margin: 3px;
        padding: 5px;
        background-color: #e6e6e6;
      }
    }
  }

  .panel {
    flex: 1;
  }
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;

  .panel {
    flex: 1;
    border-left: 1px solid #eee;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

#editor {
  overflow-y: scroll;
  flex: 2;
  height: 100%;
}

#bhs {
  height: 300px;
  width: 100%;
  border-top: rgb(193, 193, 193) 1px solid;

  .panel {
    height: 100%;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

#status-bar {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: right;
  background-color: rgb(213, 213, 213);
  border-top: rgb(193, 193, 193) 1px solid;
  font-family: "iA-Mono";
}
