/* Reset SB styles */
html,
body {
    height: initial !important;
    overflow: initial !important;
}

#sb-main {
    height: initial !important;
    display: initial !important;
}

#sb-editor {
    flex: initial !important;
    height: initial !important;
}

.cm-editor {
    height: initial !important;
}

body {
    font-family: var(--editor-font);
    background-color: var(--root-background-color);
    color: var(--root-color);
}

ul li p {
    margin: 0;
}

body:hover #button-bar,
body:active #button-bar {
    display: block;
}

#button-bar {
    position: absolute;
    right: 6px;
    top: 6px;
    display: none;
    background: var(--editor-directive-background-color);
    padding-inline: 3px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.cm-editor {
    padding-left: 10px;
}

#button-bar button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--root-color);
}

#edit-button,
#source-button {
    margin-left: -10px;
}

li code {
    font-size: 80%;
    color: #a5a4a4;
}

iframe {
    border: none;
    width: 100%;
}