html,
html {
  overflow-y: scroll !important;
  width: 90% !important;
}

body {
  overflow: initial !important;
  color: var(--top-color);
  font-family: georgia, times, serif;
  font-size: 14pt;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: revert;
  margin-bottom: revert;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
}

ul li p {
  margin: 0;
}

thead tr {
  background-color: var(--editor-table-head-background-color);
  color: var(--editor-table-head-color);
}

th,
td {
  padding: 8px;
}

tbody tr:nth-of-type(even) {
  background-color: var(--editor-table-even-background-color);
}

a[href] {
  text-decoration: none;
  color: var(--link-color);
}

blockquote {
  border-left: 1px solid var(--editor-blockquote-border-color);
  margin-left: 2px;
  padding-left: 10px;
  background-color: var(--editor-blockquote-background-color);
  color: var(--editor-blockquote-color);
}

hr {
  margin: 1em 0 1em 0;
  text-align: center;
  border-color: var(--editor-ruler-color);
  border-width: 0;
  border-style: dotted;
}

hr:after {
  content: "···";
  letter-spacing: 1em;
}

span.highlight {
  background-color: var(--highlight-color);
}
