@use "editor.scss";
@use "filter_box.scss";
@import "constants";


:root {
  --ident: 18px;
  /* --editor-font: "Avenir"; */
  --editor-font: "Menlo";
  --ui-font: "Arial";
  --top-bar-bg: rgb(41, 41, 41);
  --highlight-color: #464cfc;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#top {
  display: flex;
  flex-direction: row;

  height: $top-bar-height;
  background-color: rgb(213, 213, 213);
  border-bottom: rgb(193, 193, 193) 1px solid;
  color: rgb(55, 55, 55);

  .main {
    flex: 2;

    .inner {
      max-width: $max-editor-width;
      margin: auto;
      font-size: 28px;
      padding: 10px 20px;


      .status {
        float: right;
        border: rgb(41, 41, 41) 1px solid;
        border-radius: 5px;
        padding: 3px;
        font-size: 14px;
      }

      .current-page {
        font-family: var(--ui-font);
        font-weight: bold;
      }

      .icon {
        padding-left: 5px;
        padding-right: 10px;
      }

      .saved {
        color: #111;
      }

      .unsaved {
        color: #5e5e5e;
      }
    }
  }


  .panel {
    flex: 1;

  }
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 0;

  .panel {
    flex: 1;
    border-left: 1px solid #eee;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

}


#editor {
  overflow-y: scroll;
  flex: 2;
  height: 100%;
}

#bottom {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: right;
  background-color: rgb(213, 213, 213);
  border-top: rgb(193, 193, 193) 1px solid;
  .inner {
  }
}
