# System files
.DS_Store

# Debug builds
debug.js

# Misc
hack.*
*.br
*.db
*.db-journal
*.db-shm
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.gz
build/sqlite-src
build/wasi-sdk
deno

# NPM garbage
node_modules
package-lock.json
