name: Docker

on:
  push:
    branches:
      - "main"
      - "go-backend"
    tags:
      - "*"
env:
  # Docker & Registries
  ARCHITECTURES: linux/amd64,linux/arm64
  IMAGE_NAME: silverbullet
  NAMESPACE_GITHUB: silverbulletmd
  NAMESPACE_DOCKER: zefhemel
jobs:
  docker-main:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up QEMU for multi-arch builds with buildx
        uses: docker/setup-qemu-action@v2
        with:
          platforms: ${{ env.ARCHITECTURES }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ env.ARCHITECTURES }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to the ghcr Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.4.0
        with:
          images: |
            # Set the different image names(paces) for docker-hub & ghcr
            ${{ env.NAMESPACE_DOCKER }}/${{ env.IMAGE_NAME }}
            ghcr.io/${{ env.NAMESPACE_GITHUB }}/${{ env.IMAGE_NAME }}
          tags: |
            # When pushing a tag, release a tagged release :x.x.x
            type=semver,pattern={{raw}},enable=true
            # When pushing a tag (type=semver) push to :latest too
            type=semver,pattern=latest,enable=true
            # When pushing to main branch, release as :edge DISABLED FOR NOW
            # type=edge,branch=main
            # When pushing to main branch, release as :v2
            type=raw,value=v2-go,enable=${{ github.ref == 'refs/heads/go-backend' }}

      - name: Build and push main docker images
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          platforms: ${{ env.ARCHITECTURES }}
          push: true
          file: Dockerfile
          provenance: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
